body{
	font-family:verdana;
	font-size:90%;
}

.indent{
	padding:2px 2px 2px 18px;
}

.row{
	margin:0px 2px 10px 2px;
	padding:0px 0px 3px 3px;
	border:1px dashed #333;
	float:left;
	clear:both;
}

.download_title{
	padding:3px;
	float:left;
	width:250px;
}

.download_links{
	padding:3px;
	float:right;
	width:330px;
}

.section_title{
	font-size:110%;
	font-weight:bold;
}

.content{
	float:left;
	padding:10px;
}

.left_content{
	margin:3px;
	padding:7px;
	float:left;
	width:380px;
	border:1px dashed #333;
}

.single_cell{
	padding:3px;
	width:586px;
}

.right_content{
	float:right;
	padding-left:20px;
}

.main_title{
	font-size:175%;
	font-weight:bold;
}

.home_link{
	font-size:90%;
	padding:0px 0px 15px 0px;
}

img.right_content_img{
}